/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Roboto:wght@400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
} /* End Custome Style */

/* Start NavBar Style */
header {
    border-bottom: 1px solid #a3a3a3;
    border-width: 80% !important;
    width: 90%;
    margin: 0 auto;
}
.navbar .navbar-brand {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #5d5fef;
}
.navbar .navbar-brand span {
    padding: 12px;
    background: #5d5fef;
    border-radius: 4px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-right: 11px;
    color: #ffffff;
}
.header-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.navbar .navbar-nav .nav-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #a3a3a3;
}
.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #a3a3a3;
    transition: all 0.1s;
    border-bottom: 1px solid transparent;
}
.navbar .navbar-nav .nav-item .active {
    color: #5d5fef;
    border-bottom: 1px solid #5d5fef;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
    color: #5d5fef;
    border-bottom: 1px solid #5d5fef;
}
.navbar .navbar-nav .nav-item:last-child:hover .nav-link {
    border-bottom: 1px solid transparent;
} /* End NavBar Style */

/* Start News Category Style */
.news-category-area .news-categories-list {
    padding-left: 0px;
    display: flex;
    padding: 29px 0px;
}
.news-category-area .news-categories-list li {
    margin-right: 30px;
    padding: 4px 7px;
    transition: all 0.3s;
}
.news-category-area .news-categories-list li:hover {
    background: #eeefff;
}
.news-category-area .news-categories-list li button {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #858585;
    border: none;
    background: none;
    transition: all 0.3s;
}
.news-category-area .news-categories-list li:hover button {
    color: #5d5fef;
} /* End News Category Style */

/* Start Count News Category Style */
.count-news-category-area .length-releted-categorey-news {
    padding: 21px 18px;
    background: #ffffff;
}
.count-news-category-area .length-releted-categorey-news h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
} /* End Count News Category Style */

/* Start Filter News Style */
.filter-news-area .sort-by-view label {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 12px;
    margin-right: 33px;
}
.sort-by-date-trending ul li button {
    padding: 12px 20px;
    background: #5d5fef;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    border: 1px solid #5d5fef;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.sort-by-date-trending ul li button:hover {
    border: 1px solid #5d5fef;
    background: transparent;
    color: #5d5fef;
} /* End Filter News Style */

/* Start News List Style */
.news-list-area .single-news-card .single-news-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.news-list-area .single-news-card .single-news-info h2 {
    font-weight: 700;
    font-size: 24px;
    color: #121221;
}
.news-list-area .single-news-card .single-news-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #949494;
}
.single-news-card .footer-news .author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.single-news-card .footer-news .author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.single-news-card .footer-news .author-profile h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2b2c34;
}
.single-news-card .footer-news .author-profile p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #718797;
}
.single-news-card .footer-news .total-view i {
    font-size: 18px;
    color: #515151;
}
.single-news-card .footer-news .total-view span {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #515151;
}
.single-news-card .footer-news .news-reader-rating p {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #515151;
}
.single-news-card .footer-news .news-details-modal i {
    font-weight: 700;
    font-size: 18px;
    color: #289bde;
    cursor: pointer;
} /* End  News List Style */

/* Start New Details Modal Style */
.single-news-details .single-news-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.single-news-details .single-news-info h2 {
    font-weight: 700;
    font-size: 24px;
    color: #121221;
}
.single-news-details .single-news-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #949494;
}
.single-news-details .footer-news .author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.single-news-details .footer-news .author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.single-news-details .footer-news .author-profile h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2b2c34;
}
.single-news-details .footer-news .author-profile p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #718797;
}
.single-news-details .footer-news .total-view i {
    font-size: 18px;
    color: #515151;
}
.single-news-details .footer-news .total-view span {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #515151;
}
.single-news-details .footer-news .news-reader-rating p {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #515151;
}
.single-news-details .footer-news .news-details-modal p {
    font-weight: 700;
    font-size: 17px;
    color: #515151;
    cursor: pointer;
} /* End New Details Modal Style */

/* Start Blog Style */
.single-blog h2 {
    font-size: 28px;
    font-weight: 600;
    color: #121221;
    margin-bottom: 14px;
}
.single-blog p {
    font-size: 18px;
    font-weight: 400;
    color: #121221;
}
.single-blog p span {
    font-size: 20px;
    font-weight: 600;
    color: #121221;
}
/* End Blog Style */
